main {
    max-width: 450px;
    max-height: 300px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    text-align: center;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.links {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
