#option {
    background-color: darkslategrey;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.navbar{
    display: flex;
}

.nav__top-left{
    width: 100vw;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav__top-right{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#first-elem{
    margin: 20px;
    font-size: 30px;
}

#second-elem{
    margin: 15px;
    font-size: 20px;
}

#third-elem{
    margin: 15px;
    font-size: 20px;
}

#dpr{
    background-color: darkslategrey;
    margin: 15px;
    font-size: 20px;
    color: white;
    border: none;
}

#fifth-elem{
    color: gray;
    margin: 15px;
    font-size: 20px;
}

.custom-dpd{
    position: relative;
    cursor: pointer;
    color: lightgray;
    font-size: x-large;
}

#input{
    font-size: 23px;
    border-radius: 5px;
    padding: 15px 35px;
    margin-right: 10px;
}

.button{
    font-size: 20px;
    border-radius: 7px;
    background-color: darkslategrey;
    color: green;
    border: 2px solid green;
    padding: 12px 25px;
    cursor: pointer;
}

.button:hover {
    background-color: green;
    color: white;
    border: 20px;
}
/* svolto insieme a ilyasse */
/* corretto insieme a Jacopo */
