body {
    position: grid;
    grid-template-columns: repeat(3, 1fr);
}

#green {
    grid-column: 1 / 3;
    grid-row: 1;
    grid-area: green;
    display: flex;
}

#yellow,
#red {
    width: 25%;
}

#yellow {
    grid-column: 1;
    grid-row: 2;
    grid-area: yellow;
}

ul {
    display: grid;
    grid-template-columns: 50% 50%;
}

#red {
    grid-column: 2;
    grid-row: 2;
    grid-area: red;
}

#orange {
    grid-column: 1 / 2;
    grid-row: 3;
    grid-area: orange;
    width: 50%;
}

#blue {
    grid-column: 3;
    grid-row: 2 / 3;
    grid-area: blue;
}
