html {
    width: 200px;
    height: 100%;
}

body {
    border: 3px solid black;
    width: 200px;
    height: 100%;
}

.sidebar {
    display: grid;
    grid-template-areas:
        "logo"
        "link"
        "avatar";
}

#logo {
    grid-area: logo;
}

#link {
    grid-area: link;
}

a {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #2b2b2b;

}

a:hover {
    color: #2b2bb2;
    transition-duration: 0.3s;
}

.img {
    display: flex;
    flex-direction: column;
    justify-items: right;
}

#avatar {
    grid-area: avatar;
}